body{
  @extend %montserrat-400;
  font-size: 18px;
  line-height: 28.8px;
}
.container{
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.square{
  &__content-img{
    margin-top: 650px;
  }
  &__content-descr{
    margin-top: -190px;
  }
  &__content-text{
    width: 600px;
    line-height: 25.63px;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 100px;
    margin-bottom: 43px;
  }
  &__content-title{
    color: #fff;
    font-size: 82px;
    line-height: 100px;
    @extend %montserrat-700;
    padding-left: 100px;
    text-transform: uppercase;
  }
}