@media (max-width: 1550px){
  .menu{
    &__list-item + .menu__list-item{
      padding-left: 60px;
    }
    &__list-link, &__phone-num{
      font-size: 16px;
    }
    &__phone-icon{
      margin-left: 140px;
      margin-right: 17px;
    }
  }
}
@media (max-width: 1370px){
  .header{
    &__top-inner{
      padding: 20px;
    }
  }
  .menu{
    &__list-item + .menu__list-item{
      padding-left: 50px;
    }
    &__list-link, &__phone-num{
      font-size: 15px;
    }
    &__phone-icon{
      margin-left: 80px;
    }
  }
}

@media (max-width: 1152px){
  .menu{
    &__list-item + .menu__list-item{
      padding-left: 40px;
    }
    &__list-link, &__phone-num{
      font-size: 14px;
    }
    &__phone-icon{
      margin-left: 50px;
    }
  }
  .about-us{
    padding: 100px 20px;
  }
}
@media (max-width: 960px){
  .menu{
    &__list{
      position: absolute;
      left: 0;
      right: 0;
      top: 60px;
      background-color: $bg;
      display: block;
      text-align: center;
      transform: translateY(-200%);
      transition: all .5s;
      }
      &__list.menu__list--active{
        transform: translateY(0%);
      }
    &__list-item + .menu__list-item{
        margin-left: 0;
    }
    &__list-link{
      display: block;
      padding: 15px 0;
      color: $title;
      font-size: 18px;
    }
    &__list-link-first{
      margin-left: 40px;
    }
    &__list ul{
      padding: 17px 0;
    }
    &__btn{
      display: block;
      background-color: transparent;
      border: none;
      padding: 0;
      position: relative;
      z-index: 2;
    }
    &__phone{
      display: none;
    }
  }
  .about-us{
    padding: 80px 20px;
  }
}
@media (max-width: 600px){
  .title {
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 20px;
}
  .text{
    width: 400px;
    font-size: 16px;
    line-height: 25.8px;
  }
  .about-us{
    padding: 60px 20px;
  }
}

@media (max-width: 480px){
  .text {
    width: 300px;
    font-size: 15px;
    line-height: 24.8px;
}
}
@media (max-width: 350px){
  .title {
    font-size: 20px;
    line-height: 18px;
    margin-bottom: 15px;
  }
  .text {
    width: 265px;
    font-size: 12px;
  }
  .about-us{
    padding: 50px 15px;
  }
}