@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  background: url('../images/main-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  &__inner{
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo{
  font-size: 16px;
  line-height: 19.5px;
  color: $title;
  @extend %montserrat-700;
}
.menu{
  display: flex;
  align-items: center;
  &__list{
    display: flex;
    align-items: center;
  }
  &__list-item + .menu__list-item{
    padding-left: 80px;
  }
  &__list-link, &__phone-num{
    color: $text;
    line-height: 25.63px;
    transition: all .3s;
  }
  &__list-link:hover,
  &__phone-num:hover,
  li:nth-child(4){
    @extend %montserrat-500;
  }
  &__phone{
    display: flex;
  }
  &__phone-icon{
    margin-left: 236px;
    margin-right: 17px;
  }
}

.cosmetic{
  background: url('../images/cosmetic.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 1080px;
  &__content-img{
    padding-top: 760px;
    margin-left: 750px;
  }
  &__content-descr{
    margin-left: 750px;
  }
}

.about-us{
  background-color: $bg;
  padding: 120px 0;
}

.sale{
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  &__content{
    padding: 94px 128px 94px 0;
  }
  &__title{
    margin-bottom: 20px;
  }
  &__subtitle{
    color: $accent;
    font-size: 16px;
    line-height: 25.6px;
    margin-bottom: 40px;
    @extend %montserrat-400;
  }
  &__text{
    width: 475px;
    margin-bottom: 40px;
  }
  &__btn{
    margin-left: 235px;
  }
}

.request{
  padding: 120px 0;
  &__title{
    margin-bottom: 20px;
  }
  &__form{
    display: flex;
    align-items: flex-end;
    margin-top: 60px;
  }
  &__form-inf{
    border: none;
    border-bottom: 1px solid $accent;
    outline: none;
    width: 340px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  &__btn{
    color: #fff;
    font-size: 12px;
    line-height: 22.4px;
    text-transform: uppercase;
    @extend %montserrat-500;
    border: none;
    background: $accent;
    padding: 21px 75px;
    cursor: pointer;
  }
}

.contact{
  background-color: $bg;
  padding: 80px 0 120px;
  &__title{
    margin-bottom: 63px;
  }
  &__items{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__icon{
    margin: 0 auto;
    margin-bottom: 18px;
  }
  &__link{
    text-transform: uppercase;
    color: $title;
    @extend %montserrat-500;
  }
}

.footer{
  padding: 100px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  &__left{
    width: 425px;
  }
  &__text {
    font-size: 14px;
    line-height: 27.3px;
    margin: 27px 0 75px;
    width: 450px;
  }
  &__socials{
    display: flex;
    align-items: center;
  }
  &__social-link +.footer__social-link{
    margin-left: 40px;
  }
  &__social-link{
    transition: all .3s;
    &:hover{
      path{
        fill: $accent;
      }
      border: 1px solid $accent;
      border-radius: 50%;
      width: 36px;
      height: 36px;  
      text-align: center;
      display: inline;
      padding-top: 6px;
    }
  }
  &__items{
    display: flex;
  }
  &__item + .footer__item{
    margin-left: 102px;
  }
  &__item-title{
    font-size: 22px;
    line-height: 27px;
    color: $title;
    @extend %montserrat-500;
    margin-bottom: 24px;
  }
  &__list-link{
    font-size: 18px;
    line-height: 35px;
    color: $text;
  }
  &__list{
    margin-top: 8px;
  }
}



@import 'media';